.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  flex-direction: column;
}

.map {
  height: calc(100vh - 100px);
  width: 100vw;
  color: blue;
}

.center-cross {
  pointer-events: none;
  position: absolute;
  z-index: 3;
  width: 60px;
  height: 60px;
  top: calc(50% - 30px + 50px);
  left: calc(50% - 30px);
  opacity:0.5;
}
.center-cross::before, .center-cross::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-top: 2px solid black;
  transform: translateX(-50%);
}
.center-cross::after {
  top: 0px;
  left: -50%;
  transform: rotate(90deg);
}

.container {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  margin: 5px;
  text-align: left;
}

.label {
  margin-left: 20px;
}
.input {
  margin-left: 10px;
  width: 300px;
}
.button {
  margin-left: 10px;
}
.message {
  font-size: .8em;
  margin-left: 10px;  
  color: red;
}